logs/*
!.gitkeep
.DS_Store
.idea
.svn/
target/
*.iml
.classpath
.project
.mymetadata
bin/
*.zip
AngularPlay/*
FT2/*
Gas/*
Documents/src/main/java/*
Gravity/*
parent/*
SpringWSProject/*
Voronoi/*
WF10/*
WxMon/*
MTestJig/dave.dat
