logs/*
!.gitkeep
.DS_Store
.idea
.svn/
target/
*.iml
.classpath
.project
.mymetadata
bin/
*.zip
AngularPlay/*
Documents/*
FT2/*
Gas/*
GFX/*
Gravity/*
parent/*
SolarSystem/*
SpringWSProject/*
Voronoi/*
WF10/*
WxMon/*



